<div class="container head-time">
  <ul>
    <li class="time p-2">
      <%= image_tag 'time.png' %>
      <span>Còn lại 28 ngày</span>
    </li>
    <li class="user-login p-2">
      <%= image_tag 'default_avt.png' %>
      <span>abc@gmail.com</span>
    </li>
  </ul>
</div>
<div class="container process mt-5 mb-5">
  <%= image_tag 'process1.png', class: 'img-process'  %>
  <!--
  tỷ lệ width = rate * 0.283
  vd: rate = 30%
  width = (30 * 0.283)%
  -->
  <div class="complete-rate" style="width: 8.49%">
    <span>30%</span>
  </div>
</div>
<div class="container mt-1 mb-5">
  <div class="course-content">
    <div class="course-title mt-2 mb-4">
      <div class="icon-round"></div>
      <div class="title">
        <h4>Section 1: Bạn biết gì về thị trường Forrex</h4>
      </div>
    </div>
    <div class="content-list pr-4 pl-4">
      <a href="#" class="content-item row pt-3 pb-3 learned mb-1">
        <div class="title col-md-8">
          <span class="pl-1 pr-2">1</span>
          <i class="far fa-file-alt pl-1 pr-2 icon"></i>
          Gioi thieu chung
        </div>
        <div class="pull-right col-md-4">
          <span class="status pr-2">Đã học</span>
          <span class="time-learn pl-2 pr-4">
          <i class="far fa-clock"></i>
          35 min
        </span>
        </div>
      </a>

      <a href="#" class="content-item row pt-3 pb-3 learning mb-1">
        <div class="title col-md-8">
          <span class="pl-1 pr-2 number">2</span>
          <i class="far fa-file-alt pl-1 pr-2 icon"></i>
          Béo vừa lười vừa dốt
        </div>
        <div class="pull-right col-md-4">
          <span class="status pr-2">Đang học</span>
          <span class="time-learn pl-2 pr-4">
          <i class="far fa-clock"></i>
          35 min
        </span>
        </div>
      </a>

      <a href="#" class="content-item row pt-3 pb-3 learning mb-1">
        <div class="title col-md-8">
          <span class="pl-1 pr-2 number">3</span>
          <i class="far fa-play-circle pl-1 pr-2 icon"></i>
          Không yêu thương em
        </div>
        <div class="pull-right col-md-4">
        <span class="status pr-2">
          <i class="fas fa-lock"></i>
        </span>
          <span class="time-learn pl-2 pr-4">
          <i class="far fa-clock"></i>
          35 min
        </span>
        </div>
      </a>
    </div>
  </div>
  <div class="course-content">
    <div class="course-title mt-2 mb-4">
      <div class="icon-round"></div>
      <div class="title">
        <h4>Section 2: Bạn biết gì về thị trường Forex</h4>
      </div>
    </div>
    <div class="content-list pr-4 pl-4">
      <a href="#" class="content-item row pt-3 pb-3 learned mb-1">
        <div class="title col-md-8">
          <span class="pl-1 pr-2">1</span>
          <i class="far fa-file-alt pl-1 pr-2 icon"></i>
          Gioi thieu chung
        </div>
        <div class="pull-right col-md-4">
          <span class="status pr-2">
            <button class="btn btn-primary">
              Free
            </button>
          </span>
          <span class="time-learn pl-2 pr-4">
          <i class="far fa-clock"></i>
          35 min
        </span>
        </div>
      </a>


      <a href="#" class="content-item row pt-3 pb-3 learning mb-1">
        <div class="title col-md-8">
          <span class="pl-1 pr-2 number">3</span>
          <i class="far fa-play-circle pl-1 pr-2 icon"></i>
          Không yêu thương em
        </div>
        <div class="pull-right col-md-4">
        <span class="status pr-2">
          <button class="btn btn-primary">
            Free
          </button>
        </span>
          <span class="time-learn pl-2 pr-4">
          <i class="far fa-clock"></i>
          35 min
        </span>
        </div>
      </a>
    </div>
  </div>
</div>