<div class="container head-time">
  <ul>
    <li class="time p-2">
      <%= image_tag 'time.png' %>
      <span>Còn lại 28 ngày</span>
    </li>
    <li class="user-login p-2">
      <%= image_tag 'default_avt.png' %>
      <span>abc@gmail.com</span>
    </li>
  </ul>
</div>

<div class="container course-box">
  <div class="row">
    <div class="col-12 menu-toggler">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <h3>Noi dung bai hoc</h3>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
          <span class="navbar-toggler-icon"></span>
        </button>
      </nav>
    </div>
    <div class="col-lg-4 nav-side-menu collapse" id="collapseExample">
      <div class="course-content">
        <div class="course-title mb-4">
          <div class="icon-round"></div>
          <div class="title">
            <h4>Section 1: Bạn biết gì về thị trường Forrex</h4>
          </div>
        </div>
        <div class="content-list">
          <a href="#" class="content-item row pt-3 pb-3 learned mb-1">
            <div class="title col-8">
              <span class="pr-1">1</span>
              <i class="far fa-file-alt pr-1 icon"></i>
              Gioi thieu chung
            </div>
            <div class="pull-right col-4">
              <span class="status">Đã học</span>
            </div>
          </a>

          <a href="#" class="content-item row pt-3 pb-3 learning mb-1">
            <div class="title col-8">
              <span class="pr-1 number">2</span>
              <i class="far fa-file-alt pr-1 icon"></i>
              Béo vừa lười vừa dốt
            </div>
            <div class="pull-right col-4">
              <span class="status">Đang học</span>
            </div>
          </a>

          <a href="#" class="content-item row pt-3 pb-3 learning mb-1">
            <div class="title col-8">
              <span class="pl-0 pr-1 number">3</span>
              <i class="far fa-play-circle pr-1 icon"></i>
              Không yêu thương em
            </div>
            <div class="pull-right col-4">
              <span class="status">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </a>
        </div>
      </div>
      <div class="course-content">
        <div class="course-title mt-2 mb-4">
          <div class="icon-round"></div>
          <div class="title">
            <h4>Section 2: Bạn biết gì về thị trường Forex</h4>
          </div>
        </div>
        <div class="content-list">
          <a href="#" class="content-item row pt-3 pb-3 learned mb-1">
            <div class="title col-8">
              <span class="pr-1">1</span>
              <i class="far fa-file-alt pr-1 icon"></i>
              Gioi thieu chung
            </div>
            <div class="pull-right col-4">
              <span class="status">
                <button class="btn btn-primary">
                  Free
                </button>
              </span>
            </div>
          </a>
          <a href="#" class="content-item row pt-3 pb-3 learning mb-1">
            <div class="title col-8">
              <span class="pr-1 number">3</span>
              <i class="far fa-play-circle pr-1 icon"></i>
              Không yêu thương em
            </div>
            <div class="pull-right col-4">
              <span class="status">
                <button class="btn btn-primary">
                  Free
                </button>
              </span>
            </div>
          </a>
          <a href="#" class="content-item row pt-3 pb-3 learning mb-1">
            <div class="title col-8">
              <span class="pl-0 pr-1 number">3</span>
              <i class="far fa-play-circle pr-1 icon"></i>
              Không yêu thương em
            </div>
            <div class="pull-right col-4">
              <span class="status">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </a>
          <a href="#" class="content-item row pt-3 pb-3 learning mb-1">
            <div class="title col-8">
              <span class="pl-0 pr-1 number">3</span>
              <i class="far fa-play-circle pr-1 icon"></i>
              Không yêu thương em
            </div>
            <div class="pull-right col-4">
              <span class="status">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </a>
          <a href="#" class="content-item row pt-3 pb-3 learning mb-1">
            <div class="title col-8">
              <span class="pl-0 pr-1 number">3</span>
              <i class="far fa-play-circle pr-1 icon"></i>
              Không yêu thương em
            </div>
            <div class="pull-right col-4">
              <span class="status">
                <i class="fas fa-lock"></i>
              </span>
            </div>
          </a>
        </div>
      </div>
    </div>
    <div class="col-lg-8 course-content-detail">
      <div class="content-title">
        <h3>Gioi thieu chung</h3>
        <button class="btn btn-primary">
          Hoan thanh
        </button>
      </div>
      <div class="content mt-2">
        <%= image_tag 'demo.png', class: 'img-process'  %>
        <%= image_tag 'demo.png', class: 'img-process'  %>
        <!--<iframe src="https://static2.vietstock.vn/vietstock/2021/8/27/20210827_20210827%20-%20CTG%20-%20BC%20KQGD%20co%20phieu%20cua%20TV%20HDQT%20Tran%20Thu%20Huyen_Ban%20CBTT_VN.pdf" frameborder="0"></iframe>-->
      </div>
    </div>
  </div>
</div>