<footer>
  <div class="bg-footer pt-md-5 pb-md-5 pt-3 pb-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4 logo-footer">
          <%= image_tag 'logo-f.png' %>
          <div class="text-contact mt-md-1 mt-0">
            <span><i class="far fa-envelope"></i></span>
            <p>pay@1studyforex.com</p>
          </div>
        </div>
        <div class="col-md-8">
          <div class="link-f mt-md-4 mt-1 d-md-flex flex-wrap">
            <div class="mr-md-5 mr-2">
              <a href="#">Home</a>
            </div>
            <div class="mr-md-5 mr-2">
              <a href="#">Khóa học</a>
            </div>
            <div class="mr-md-5 mr-2">
              <a href="#">Gía trị cốt lõi</a>
            </div>
            <div class="mr-md-5 mr-2">
              <a href="#">Nhận xét của học viên</a>
            </div>
          </div>
          <div class="terms-sign mt-md-4">
            <a href="#" class="mr-5">Điều khoản & Chính sách</a>
            <button class="btn btn-sign btn-primary" type="button">Đăng ký ngay</button>
          </div>
        </div>
        <div class="col-12 pr-2 pl-2 mt-4 f-btn-signup">
          <button type="button" class="btn btn-primary btn-lg btn-block">Đăng ký ngay</button>
        </div>
      </div>
    </div>
  </div>
  <div class="cp-right">
    Copyright 2017, All Right Reserved, 1 Study Forex
  </div>
</footer>